@model PersonalityTest.Models.SectionA
@using PersonalityTest
@using PersonalityTest.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
@*</head>*@
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/images/bg-01.jpg');">
            <div class="wrap-login100" style="background:#FFDEAD; width:1500px ;font-size:large;">
                <form action="@ViewData["ReturnUrl"]" method="post">
                    <span class="login100-form-title p-b-34 p-t-27" style="color:black"  >
                        SECTION A
                    </span>
                  
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I can be relied upon to see that needs to be done is organised
                        </label>
                        <input asp-for="Shaper1" class="input100" type="text" placeholder="">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100  validate-input" style="color:black" >
                        <label>
                         I pick up slip and omissions that others fail to notice
                        </label>
                        <input asp-for="Coordinator1" class="input100" type="text"  placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input" >
                        <label>
                            I react strongly when meetings look like loosing track of the main objective
                        </label>
                        <input asp-for="Planter1" class="input100" type="text"  placeholder="">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" >
                        <label>
                            I produce original suggestions
                        </label>
                        <input asp-for="Resource1" class="input100" type="text" placeholder="">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" >
                        <label>
                            I analyze other people's ideas objectively, for both merits and failings
                        </label>
                        <input asp-for="Monitor1" class="input100" type="text"  placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input" >
                        <label>
                            I am keen to find out the latest ideas and developments
                        </label>
                        <input asp-for="Implementer1" class="input100" type="text"  placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input" >
                        <label>
                            I have an aptitude for organising people
                        </label>
                        <input asp-for="Teamwork1" class="input100" type="text"  placeholder="">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" >
                        <label>
                            I am always ready to support good suggestions that helpsz
                        </label>
                        <input asp-for="Finisher1" class="input100" type="text"  placeholder="">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" style="background:#FFDEAD">
                            NEXT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>