@model PersonalityTest.Models.SectionF
@using PersonalityTest.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
@*</head>*@
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/images/bg-01.jpg');">
            <div class="wrap-login100" style="background:#FFDEAD; width:1500px">
                <form action="@ViewData["ReturnUrl"]" method="post">
                    <span class="login100-form-title p-b-34 p-t-27"  style="color:black;">
                        SECTION F
                    </span>
                    <label asp></label>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I start to look around for possible ideas and openings
                        </label>
                        <input asp-for="Shaper6" class="input100" type="text" placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I am concerned to finish and perfect current work before I start a new one
                        </label>
                        <input asp-for="Coordinator6" class="input100" type="text" placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I approach the problem in a carefully analytical way
                        </label>
                        <input asp-for="Planter6" class="input100" type="text" placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I am able to assert myself to get other people involved if necessary
                        </label>
                        <input asp-for="Resource6" class="input100" type="text" placeholder="">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I am able to take an independent and innovative look at most situations
                        </label>
                        <input asp-for="Monitor6" class="input100" type="text" placeholder="">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I am happy to take the lead when action is required
                        </label>
                        <input asp-for="Implementer6" class="input100" type="text" placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I can respond positively to my colleagues and their initiatives
                        </label>
                        <input asp-for="Teamwork6" class="input100" type="text" placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I find it hard to give in to a job where goals are not clearly defined
                        </label>
                        <input asp-for="Finisher6" class="input100" type="text" placeholder="">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" style="background:#FFDEAD">
                            NEXT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>