
@model PersonalityTest.Models.SectionG
@using PersonalityTest.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/css/util.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
@*</head>*@
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/images/bg-01.jpg');">
            <div class="wrap-login100" style="background:#FFDEAD; width:1500px">
                <form action="@ViewData["ReturnUrl"]" method="post">
                    <span class="login100-form-title p-b-34 p-t-27" style="color:black;">
                        SECTION G
                    </span>
                    <label asp></label>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I think I have a talent for sorting out the concrete steps that need to be taken, given a broad brief
                        </label>
                        <input asp-for="Shaper7" class="input100" type="text" placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            My considered judgments may take time but is usually near the mark
                        </label>
                        <input asp-for="Coordinator7" class="input100" type="text" placeholder="">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            A broad range of personal contacts is important to my style of working
                        </label>
                        <input asp-for="Planter7" class="input100" type="text" placeholder="">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I have an eye for getting the details right
                        </label>
                        <input asp-for="Resource7" class="input100" type="text" placeholder="">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I try to make my mark in group meetings
                        </label>
                        <input asp-for="Monitor7" class="input100" type="text" placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I can see how ideas and techniques can be used in relationships
                        </label>
                        <input asp-for="Implementer7" class="input100" type="text" placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I see both sides of a problem and take a decision acceptable to all
                        </label>
                        <input asp-for="Teamwork7" class="input100" type="text" placeholder="">
                        <span class="focus-input100" ></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <label>
                            I get on well with others and work hard for the team
                        </label>
                        <input asp-for="Finisher7" class="input100" type="text" placeholder="">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" style="background:#FFDEAD">
                            NEXT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>